.create-spottings {
  color: rgb(249, 246, 246);
  background-color: rgb(119, 15, 142);
  font-family: "Creepster", cursive;
  border-radius: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  padding: 18px;
  text-shadow: 3px 3px rgb(74, 244, 88);
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
