@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

h3 {
  font-size: 38px;
  /* font-family: ; */
  color: rgb(39, 24, 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Creepster", cursive;
  text-shadow: 2px 2px wheat;
}

.species-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Creepster", cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.create-locations {
  color: rgb(249, 246, 246);
  background-color: rgb(119, 15, 142);
  font-family: "Creepster", cursive;
  border-radius: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  padding: 18px;
  text-shadow: 3px 3px rgb(74, 244, 88);
}
