@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
/* .species-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px 40px 40px;
} */
/* 
.species-card-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  flex-wrap: wrap;
} */

/* .species-card-img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
} */
h3 {
  font-size: 38px;
  /* font-family: ; */
  color: rgb(39, 24, 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Creepster", cursive;
  text-shadow: 2px 2px wheat;
}

.species-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Creepster", cursive;
}

h5 {
  font-family: "Creepster", cursive;
  position: fixed;
  z-index: 100;
  bottom: 2;
  left: 0;
  width: 100%;
  color: rgb(170, 255, 174);
  text-align: center;
  font-size: 35px;
  border-style: solid;
  border-radius: 15px;
  /* transform: translate(-50%, -50%); */
  position: absolute;
  animation: animate 2.5s linear infinite;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.form-group {
  /* display: flex;
  justify-content: left;
  align-items: center; */
  /* padding-top: 25px; */
}

.species-name,
.species-food {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
