.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar__item {
  /* flex-basis: 20%; */
  list-style-type: none;
  text-align: right;
  font-size: 24px;
  font-family: "Creepster", cursive;
}

#middle {
  text-align: center;
}
